<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tennis Club</title>
    <link rel="stylesheet" href="{$basePath}/static/css/style.css">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
</head>
<body>
    
    <!-- Sidebar -->
    <nav class="sidebar">
        <header>
            <div class="image-text">
                <span class="image">
                    <img src="#" alt="logo">
                </span>
                <div class="text header-text">
                    <span class="name">Martin Pelisek</span>
                    <span class="profession">Web Developer</span>
                </div>
            </div>
        </header>

        <div class="menu-bar">
            <div class="menu">
                <li class="search-box">
                    <i class="bx bx-search icon"></i>
                    <input type="search" placeholder="search...">
                </li>
                <ul class="menu-links">
                    <li class="nav-link">
                        <a n:href="Home:default">
                            <i class="bx bx-home-alt icon"></i>
                            <span class="text nav-text">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a n:href="reservation:default">
                            <i class="bx bx-bar-chart icon"></i>
                            <span class="text nav-text">reservation</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a n:href="admin:default">
                            <i class="bx bx-bar-chart icon"></i>
                            <span class="text nav-text">Settings</span>
                        </a>
                    </li>
                    {if $user->isLoggedIn()}
                        <li class="nav-link">
                            <a n:href="User:default " class="ajax">
                                <i class="bx bx-user icon"></i>
                                <span class="text nav-text">User</span>
                            </a>
                        </li>
                    {/if}
		            {if $user->isLoggedIn()}
                        <li class="nav-link">
                            <a n:href="Sign:out" class="ajax">
                                <i class="bx bx-log-out icon"></i>
                                <span class="text nav-text">Log out</span>
                            </a>
                        </li>
                    {else}
                        <li class="nav-link">
                            <a n:href="Sign:in" class="ajax">
                                <i class="bx bx-log-in icon"></i>
                                <span class="text nav-text">Sign in</span>
                            </a>                            
                        </li>
                    {/if}
                </ul>
            </div>
        </div>
    </nav>
    <main>
    {include content}
    </main>
     {block scripts}
    <script src="https://nette.github.io/resources/js/3/netteForms.min.js"></script>
    {/block}
</body>
</html>
